@keyframes bounce-out{
    0% {
        opacity:1;
        transform:  scaleX(1.00) scaleY(1.00) ;
    }
    25% {
        opacity:1;
        transform:  scaleX(0.95) scaleY(0.95) ;
    }
    50% {
        opacity:1;
        transform:  scaleX(1.10) scaleY(1.10) ;
    }
    100% {
        opacity:0;
        transform:  scaleX(0.30) scaleY(0.30) ;
    }
}

@-moz-keyframes bounce-out{
    0% {
        opacity:1;
        -moz-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    25% {
        opacity:1;
        -moz-transform:  scaleX(0.95) scaleY(0.95) ;
    }
    50% {
        opacity:1;
        -moz-transform:  scaleX(1.10) scaleY(1.10) ;
    }
    100% {
        opacity:0;
        -moz-transform:  scaleX(0.30) scaleY(0.30) ;
    }
}

@-webkit-keyframes bounce-out {
    0% {
        opacity:1;
        -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    25% {
        opacity:1;
        -webkit-transform:  scaleX(0.95) scaleY(0.95) ;
    }
    50% {
        opacity:1;
        -webkit-transform:  scaleX(1.10) scaleY(1.10) ;
    }
    100% {
        opacity:0;
        -webkit-transform:  scaleX(0.30) scaleY(0.30) ;
    }
}

@-o-keyframes bounce-out {
    0% {
        opacity:1;
        -o-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    25% {
        opacity:1;
        -o-transform:  scaleX(0.95) scaleY(0.95) ;
    }
    50% {
        opacity:1;
        -o-transform:  scaleX(1.10) scaleY(1.10) ;
    }
    100% {
        opacity:0;
        -o-transform:  scaleX(0.30) scaleY(0.30) ;
    }
}

@-ms-keyframes bounce-out{
    0% {
        opacity:1;
        -ms-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    25% {
        opacity:1;
        -ms-transform:  scaleX(0.95) scaleY(0.95) ;
    }
    50% {
        opacity:1;
        -ms-transform:  scaleX(1.10) scaleY(1.10) ;
    }
    100% {
        opacity:0;
        -ms-transform:  scaleX(0.30) scaleY(0.30) ;
    }
}