@-webkit-keyframes move-vertical-2{from{ top:-20%;}to{ top:105%; }}
@-moz-keyframes move-vertical-2{from{ top:-20%;}to{ top:105%; }}
@-o-keyframes move-vertical-2{from{ top:-20%;}to{ top:105%; }}
@keyframes move-vertical-2{from{ top:-20%;}to{ top:105%; }}