@-webkit-keyframes nlo{
    0%{
        -moz-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -webkit-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -o-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -ms-transform: rotate(-30deg) translateX(0px) translateY(30px);
        transform: rotate(-30deg) translateX(0px) translateY(30px);
    }
    33%{
        -moz-transform: rotate(30deg) translateX(5px) translateY(30px);
        -webkit-transform: rotate(30deg) translateX(5px) translateY(30px);
        -o-transform: rotate(30deg) translateX(5px) translateY(30px);
        -ms-transform: rotate(30deg) translateX(5px) translateY(30px);
        transform: rotate(30deg) translateX(5px) translateY(30px);
    }
    66%{
        -moz-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -webkit-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -o-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -ms-transform: rotate(-30deg) translateX(0px) translateY(30px);
        transform: rotate(-30deg) translateX(0px) translateY(30px);
    }
    100%{
        -moz-transform: rotate(15deg) translateX(5px) translateY(30px);
        -webkit-transform: rotate(15deg) translateX(5px) translateY(30px);
        -o-transform: rotate(15deg) translateX(5px) translateY(30px);
        -ms-transform: rotate(15deg) translateX(5px) translateY(30px);
        transform: rotate(15deg) translateX(5px) translateY(30px);
    }
}
@-moz-keyframes nlo{
    0%{
        -moz-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -webkit-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -o-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -ms-transform: rotate(-30deg) translateX(0px) translateY(30px);
        transform: rotate(-30deg) translateX(0px) translateY(30px);
    }
    33%{
        -moz-transform: rotate(30deg) translateX(5px) translateY(30px);
        -webkit-transform: rotate(30deg) translateX(5px) translateY(30px);
        -o-transform: rotate(30deg) translateX(5px) translateY(30px);
        -ms-transform: rotate(30deg) translateX(5px) translateY(30px);
        transform: rotate(30deg) translateX(5px) translateY(30px);
    }
    66%{
        -moz-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -webkit-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -o-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -ms-transform: rotate(-30deg) translateX(0px) translateY(30px);
        transform: rotate(-30deg) translateX(0px) translateY(30px);
    }
    100%{
        -moz-transform: rotate(15deg) translateX(5px) translateY(30px);
        -webkit-transform: rotate(15deg) translateX(5px) translateY(30px);
        -o-transform: rotate(15deg) translateX(5px) translateY(30px);
        -ms-transform: rotate(15deg) translateX(5px) translateY(30px);
        transform: rotate(15deg) translateX(5px) translateY(30px);
    }
}
@keyframes nlo {
    0% {
        -moz-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -webkit-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -o-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -ms-transform: rotate(-30deg) translateX(0px) translateY(30px);
        transform: rotate(-30deg) translateX(0px) translateY(30px);
    }
    33% {
        -moz-transform: rotate(30deg) translateX(5px) translateY(30px);
        -webkit-transform: rotate(30deg) translateX(5px) translateY(30px);
        -o-transform: rotate(30deg) translateX(5px) translateY(30px);
        -ms-transform: rotate(30deg) translateX(5px) translateY(30px);
        transform: rotate(30deg) translateX(5px) translateY(30px);
    }
    66% {
        -moz-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -webkit-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -o-transform: rotate(-30deg) translateX(0px) translateY(30px);
        -ms-transform: rotate(-30deg) translateX(0px) translateY(30px);
        transform: rotate(-30deg) translateX(0px) translateY(30px);
    }
    100% {
        -moz-transform: rotate(15deg) translateX(5px) translateY(30px);
        -webkit-transform: rotate(15deg) translateX(5px) translateY(30px);
        -o-transform: rotate(15deg) translateX(5px) translateY(30px);
        -ms-transform: rotate(15deg) translateX(5px) translateY(30px);
        transform: rotate(15deg) translateX(5px) translateY(30px);
    }
}
