@-webkit-keyframes orbit-long {
    from { -webkit-transform: rotate(0deg) translateX(250px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}
@-moz-keyframes orbit-long {
    from { -moz-transform: rotate(0deg) translateX(250px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}
@-o-keyframes orbit-long {
    from { -o-transform: rotate(0deg) translateX(250px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}
@keyframes orbit-long {
    from { transform: rotate(0deg) translateX(250px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}